header{
	background: #344b54;
	color: #fff;
	overflow: hidden;
	padding: 0.5em;
	
	figure{
		float: left;
	}

	h1{
		font-size: 1.2em;
		font-weight: normal;
	}//h1

	#logo{
		img{
			border-right: 1px solid #fff;		
			margin-right: 0.5em;
			padding-right: 0.5em;
			width: 52px;
		}
	} //logo

	#avatar{
		img{
			width: 55px;
			border-radius: (50%);
		}
	}//#avatar
} //header