header{
	background: #344b54;
	color: #fff;
	overflow: hidden;
	padding: 0.8em;
	position: relative;

	figure{
		float: left;
	}

	h1{
		font-size: 1.2em;
		font-weight: normal;
		margin-right: 70px;
	}//h1

	#logo{
			border-right: 1px solid #fff;		
			margin-right: 0.5em;
			padding-right: 0.5em;
		img{
			width: 52px;
			@include transition(0.5s);
			&:hover{
				@include transform (rotate(360deg));				
			}
		}
	} //logo

	#avatar{
		position: absolute;
		right: 0;
		top: 0;
		margin: 0.5em 0.5em 0 0;

		img{
			width: 55px;
			border-radius: (50%);
		}
	}//#avatar
} //header