<header>
	<figure id="logo">
		<img src="images/logo.png" alt="Logo">
		<h1>Pulse 214: </h1>
		<figure id="avatar">
			<img src="images/avatar.jpg" alt="Avatar">
		</figure>
	</figure>
</header> <!-- header -->