<nav>
	<ul>
		<li><a href="#">Python</a></li>
		<li><a href="#">Html5</a></li>
		<li><a href="#">Javascrip</a></li>
		<li><a href="#">Css3</a></li>
		<li><a href="#">Django</a></li>
		<li id="publish">
			<a href="#">Publicar</a>
		</li>
	</ul>
</nav> <!-- nav -->