<nav>
	<ul>
		<li><a href="#">Python</a></li>
		<li><a href="#">Html5</a></li>
		<li><a href="#">Javascript</a></li>
		<li><a href="#">Css3</a></li>
		<li><a href="#">Ruby</a></li>
		<li id="publish">
			<a href="#" id="show_form" class="icon-pen">Publicar</a>
		</li>
	</ul>
</nav> <!-- nav -->