---
title: Home
---
<section id="content">
	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2>
			Title Post
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span>hace 
				<strong>5</strong> min
			</span>
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item">star</a>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up">up</a>
			72
			<a href="#" class="down">down</a>			
		</div> <!-- .vote -->
		
	</article> <!-- .item -->
</section> <!-- #content -->
