---
title: Home
---
<section id="content">
	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2 class="title_item">
			<a href="#">Title Post</a>
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span class="date_item">hace 
				<strong>5</strong> min
			</span>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up icon-caret-up"></a>
			72
			<a href="#" class="down icon-caret-down"></a>			
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item icon-star"></a>
		</div> <!-- .vote -->	
	</article> <!-- .item -->

	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2 class="title_item">
			<a href="#">Rockstar Guitarrista Frontend: La historia de un músico emprendedor</a>
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span class="date_item">hace 
				<strong>5</strong> min
			</span>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up icon-caret-up"></a>
			72
			<a href="#" class="down icon-caret-down"></a>			
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item icon-star"></a>
		</div> <!-- .vote -->		
	</article> <!-- .item -->

	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2 class="title_item">
			<a href="#">Crear y exportar SVG en Illustrator e Inkscape</a>
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span class="date_item">hace 
				<strong>5</strong> min
			</span>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up icon-caret-up"></a>
			72
			<a href="#" class="down icon-caret-down"></a>			
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item icon-star"></a>
		</div> <!-- .vote -->
	</article> <!-- .item -->

	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2 class="title_item">
			<a href="#">Cómo usar los selectores de hermano en CSS3</a>
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span class="date_item">hace 
				<strong>5</strong> min
			</span>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up icon-caret-up"></a>
			72
			<a href="#" class="down icon-caret-down"></a>			
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item icon-star"></a>
		</div> <!-- .vote -->	
	</article> <!-- .item -->

	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2 class="title_item">
			<a href="#">Ataques hacker modernos a los que toda web está expuesta</a>
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span class="date_item">hace 
				<strong>5</strong> min
			</span>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up icon-caret-up"></a>
			72
			<a href="#" class="down icon-caret-down"></a>			
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item icon-star"></a>
		</div> <!-- .vote -->	
	</article> <!-- .item -->

	<article class="item">
		<figure class="image_item">
			<img src="images/image.jpg" alt="Article Image">
		</figure> <!-- .image_item -->

		<h2 class="title_item">
			<a href="#">Internet entera en riesgo por el bug Heartbleed de SSL</a>
		</h2>

		<div class="author">
			by <a href="#">Nacho</a>
		</div> <!-- .author -->

		<div class="data_item">
			<a href="" class="tag_item">pony</a>
			<span class="date_item">hace 
				<strong>5</strong> min
			</span>
		</div> <!-- .data_item -->

		<div class="vote">
			<a href="#" class="up icon-caret-up"></a>
			72
			<a href="#" class="down icon-caret-down"></a>			
			<a href="#" class="comment_item">69</a>
			<a href="#" class="save_item icon-star"></a>
		</div> <!-- .vote -->	
	</article> <!-- .item -->
</section> <!-- #content -->
